@model IEnumerable<AutoVentas.Models.Automovil>

@{
    ViewBag.Title = "Autos";
}

<div class="page-header">
    <h2>Autos</h2>
</div>
<div class="row">
    @foreach (var item in Model)
    {

        <div class="col-sm-4 col-md-4">
            <div class="thumbnail">
                @if (item.archivos.Any(ar => ar.tipo == AutoVentas.Models.FileType.Image))
                {
                        <img src="~/Archivo/Archivo?id=@item.archivos.First(f => f.tipo == AutoVentas.Models.FileType.Image).idArchivo" alt="imagen" />   
                }
                <div class="caption">
                    <h3>@Html.DisplayFor(valor => item.marca.nombre)</h3>
                    <p>
                        <strong>Modelo: </strong>@Html.DisplayFor(valor => item.modelo) <br />
                        <strong>Combustible: </strong>@Html.DisplayFor(valor => item.combustible) <br />
                        <strong>Cilindrada: </strong>@Html.DisplayFor(valor => item.cilindrada) <br />
                        <strong>Motor: </strong>@Html.DisplayFor(valor => item.motor) <br />
                        <strong>Manufacturacion: </strong>@Html.DisplayFor(valor => item.manufacturacion) <br />
                        <strong>Color: </strong>@Html.DisplayFor(valor => item.color) <br />
                        <strong>Precio: </strong>@Html.DisplayFor(valor => item.precio) <br />
                    </p>
                   
                        <p>@Html.ActionLink("Comprar", "Create", "Compra", new { idAutomovil = item.idAutomovil }, htmlAttributes: new { @class = "btn btn-primary", @role = "button" })</p>
                </div>
            </div>
        </div>

    }
</div>
